# College Admission and Student Enrollment Management System
SECRET_KEY=django-insecure-cae-portal-secret-key-production-ready-2025
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,127.0.0.1:8000,127.0.0.1:8001,.vercel.app,*
# DATABASE_URL=postgresql://user:password@hostname:5432/dbname?sslmode=require
